/* restoring browser effects! */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common styles of project which are applied to body */
body{
    background-color: rgb(0, 21, 138);
    overflow: hidden;
    font-family: 'Dosis', sans-serif;
    color: #fff;
}

/* style to our heading */
h1{
    display: flex;
    margin-top: 3em;
    justify-content: center;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

span{
    display: inline-block;
    width: 0.6em;
    height: 0.6em;
    border-radius: 50%;
    margin: 0 0.125em;
    background-color: rgb(235, 217, 217);
    opacity: 0;
    animation: move 3s infinite;
}

/* CALLING CHILDS USING nth-child() property */
span:nth-child(5){
    animation-delay: 100ms;
}
span:nth-child(4){
    animation-delay: 200ms;
}
span:nth-child(3){
    animation-delay: 300ms;
}
span:nth-child(2){
    animation-delay: 400ms;
}
span:nth-child(1){
    animation-delay: 500ms;
}


/* ANIMATION */
@keyframes move{
    0%{
        transform: translateX(-31em);
        opacity: 0;
    }
    30%,60%{
        transform: translateX(0);
        opacity: 1;
    }
    100%{
        transform: translateX(31em);
        opacity: 0;
    }
}